div.e-container {
	max-width: 80em;
	margin: auto;
	padding: 1em;
}

div.e-box {
	border: thin solid black;
	margin: 1em;
	padding: 0.2em;
}

input[type="number"] {
	width: 6em;
	text-align: right;
}

.button-danger {
	background: rgb(202, 60, 60);
}

table#envelopes {
	font-size: 0.9em;
}

span.delta-warn {
	color: #b03;
}
