div.e-container {
	max-width: 80em;
	margin: auto;
	padding: 1em;
}

div.e-box {
	border: thin solid black;
	margin: 1em;
	padding: 0.2em;
}

input[type="number"] {
	width: 6em;
	text-align: right;
}

.button-danger {
	background: rgb(202, 60, 60);
}

.button-warning {
	background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
	background: rgb(66, 184, 221); /* this is a light blue */
}

table#envelopes {
	font-size: 0.9em;
}

span.delta-warn {
	color: #b03;
}

span.delta-ok {
	color: #072;
}

select {
	height: 100%;
}
