<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/pure/pure-min.css">
		<link rel="stylesheet" href="/static/pure/grids-responsive-min.css">
		<link rel="stylesheet" href="/static/style.css">
		<title>📩 Envelopes: Details for Envelope {{ .Envelope.Id }}</title>
	</head>
	<body>
		<div class="e-container">
			<h1>Details for Envelope {{ .Envelope.Name }}</h1>
			<table class="pure-table">
				<thead>
					<tr>
						<td>Balance</td>
						<td>Target</td>
						<td>Monthly Target</td>
						<td>Name</td>
						<td>Date</td>
						<td>Deleted</td>
					</tr>
				</thead>
				<tbody>
					{{ range .Events }}
					<tr>
						{{ if gt .Balance 0 }}
						<td><span class="delta-ok">+{{ prettyDisplay .Balance }}</span></td>
						{{ else if eq .Balance 0 }}
						<td>0</td>
						{{ else }}
						<td><span class="delta-warn">{{ prettyDisplay .Balance }}</span></td>
						{{ end }}

						{{ if gt .Target 0 }}
						<td><span class="delta-ok">+{{ prettyDisplay .Target }}</span></td>
						{{ else if eq .Target 0 }}
						<td>0</td>
						{{ else }}
						<td><span class="delta-warn">{{ prettyDisplay .Target }}</span></td>
						{{ end }}

						{{ if gt .MonthTarget 0 }}
						<td><span class="delta-ok">+{{ prettyDisplay .MonthTarget }}</span></td>
						{{ else if eq .MonthTarget 0 }}
						<td>0</td>
						{{ else }}
						<td><span class="delta-warn">{{ prettyDisplay .MonthTarget }}</span></td>
						{{ end }}

						<td>{{ .Name }}</td>
						<td>{{ .Date }}</td>

						{{ if .Deleted }}
						<td>Yes</td>
						{{ else }}
						<td>No</td>
						{{ end }}
					</tr>
					{{ end }}
				</tbody>
			</table>
			<form class="pure-form pure-form-aligned" action="/update" method="post">
				<fieldset>
					<legend>Properties</legend>
					<input type="hidden" name="env-id" value="{{ .Envelope.Id }}">
					<input type="hidden" name="env-return" value="{{ .Envelope.Id }}">

					<div class="pure-control-group">
						<label for="name">Name</label>
						<input id="name" type="text" name="env-name" value="{{ .Envelope.Name }}">
					</div>

					<div class="pure-control-group">
						<label for="monthtarget">Monthly Target</label>
						<input id="monthtarget" type="number" step="any" name="env-monthtarget" value="{{ prettyDisplay .Envelope.MonthTarget }}">
					</div>

					<div class="pure-control-group">
						<label for="target">Target</label>
						<input id="target" type="number" step="any" name="env-target" value="{{ prettyDisplay .Envelope.Target }}">
					</div>

					<div class="pure-control-group">
						<label for="balance">Balance</label>
						<input id="balance" type="number" readonly value="{{ prettyDisplay .Envelope.Balance }}">
					</div>

					<div class="pure-controls">
						<button type="submit" class="pure-button pure-button-primary">Change</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="e-container">
			<a class="pure-button" href="/#e-{{ .Envelope.Id }}">Back</a>
		</div>
	</body>
</html>
