<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/pure/pure-min.css">
		<link rel="stylesheet" href="/static/pure/grids-responsive-min.css">
		<link rel="stylesheet" href="/static/style.css">
		<link rel="stylesheet" href="/static/sorttable/sort-table.min.css">
		<script src="/static/sorttable/sort-table.min.css"></script>
		<title>📩 Envelopes</title>
	</head>
	<body>
		<div class="e-container">
			<div>
			Total Delta: <span class="{{ .TotalDelta.Cls }}">{{ prettyDisplay .TotalDelta.Val }}</span>,
			Total Balance: <span>{{ prettyDisplay .TotalBalance }}</span>,
			Total Monthly Target: <span>{{ prettyDisplay .MonthTarget }}</span>
			</div>
			<table class="pure-table js-sort" id="envelopes">
				<thead>
					<tr>
						<td>Name</td>
						<td>Balance</td>
						<td>Monthly Target</td>
						<td>Delta (this month)</td>
						<td>Target</td>
						<td>Delta (to target)</td>
						<td>Delete</td>
					</tr>
				</thead>
				<tbody>
				{{ range .Envelopes }}
				{{ $delta := delta .Balance .Target }}
				<tr>
					<td><a href="/details?id={{ .Id }}">{{ .Name }}</a></td>
					<form class="pure-form" action="/update" method="post">
						<input type="hidden" name="env-id" value="{{ .Id }}">
						<td><input type="number" step="any" name="env-balance" value="{{ prettyDisplay .Balance }}"></td>
						<td>{{ prettyDisplay .MonthTarget }}</td>
						{{ if lt .MonthDelta 0 }}
						<td><span class="delta-warn">{{ prettyDisplay .MonthDelta }}</span></td>
						{{ else }}
						<td><span class="delta-ok">{{ prettyDisplay .MonthDelta }}</span></td>
						{{ end }}
						<td>{{ prettyDisplay .Target }}</td>
						<td><span class="{{index $delta 0}}">{{index $delta 1}}</td>
					</form>
					<td><a class="pure-button button-danger" href="/delete?id={{ .Id }}">X</a></td>
				</tr>
				{{ end }}
				</tbody>
			</table>
		</div>
		<div class="e-container">
			<form class="pure-form" action="/update" method="post">
				<fieldset>
					<input type="text" size="13" name="env-name" placeholder="Name" autofocus>
					<input type="number" step="any" name="env-balance" placeholder="Balance">
					<input type="number" step="any" name="env-monthtarget" placeholder="Monthly Target">
					<button type="submit" class="pure-button pure-button-primary">Add new envelope</button>
				</fieldset>
			</form>
		</div>
	</body>
</html>
